{% extends "base.html.twig" %}
{% block contenu %}

	<div class="container py-5">
		<h2 class="text-center mb-4">Mentions Légales</h2>
		<div class="row g-4">

			<div class="border rounded p-3 h-100">
				<h5 class="text-center">Editeur du site</h5>
				<p>Le présent site internet, accessible à l'adresse
					<strong>Sup'Stage</strong>, est édité et réalisé dans un cadre pédagogique par un groupe de quatre étudiants de l'école d'ingénieurs
					<strong>CESI Reims</strong>
					:</p>
				<ul class="list-unstyled ps-2">
					<li>•
						<strong>Mays Altaef</strong>
					</li>
					<li>•
						<strong>Logan Hivert</strong>
					</li>
					<li>•
						<strong>Gilchrist Rovanice</strong>
					</li>
					<li>•
						<strong>Martin Timmerman</strong>
					</li>
				</ul>
			</div>

			>
			<div class="border rounded p-3 h-100">
				<h5 class="text-center">Hébergement</h5>
				<p>Ce site web a été développé en utilisant les technologies HTML, CSS et PHP. Il est actuellement hébergé à des fins de test et de présentation scolaire.</p>
				<p>
					<strong>Établissement :</strong>
					CESI École d'Ingénieurs - Campus de Reims.</p>
				<p>
					<strong>Adresse :</strong>
					7 bis Avenue Robert Schuman , 51100 Reims, France.</p>
			</div>
		</div>

		<div class="border rounded p-3 h-100 mt-5 mb-5">
			<h5 class="text-center">Propriété intellectuelle</h5>
			<p>L'intégralité du contenu présent sur ce site, incluant les textes, la structure de la base de données, les logos et le code source, demeure la propriété exclusive des auteurs mentionnés ci-contre.</p>
			<p>Toute reproduction, modification ou diffusion, même partielle, est strictement interdite sans l'accord préalable écrit du groupe projet.</p>
		</div>
	</div>
</div>{% endblock %}
