{% extends "base.html.twig" %}
{% block contenu %}

<div class="container py-4">
  <div class="row border rounded p-3">
    
    <div class="col-md-3 d-flex flex-column align-items-center h-100 mb-5">
      <div class="display-5 fw-bold text-primary bg-primary bg-opacity-10 rounded-circle d-flex align-items-center justify-content-center flex-shrink-0 mb-4" style="width: 8rem; height: 8rem;">
          {{ offre.entreprise.nom|split(' ')[0]|first ~ offre.entreprise.nom|split(' ')[1]|first }}
        </div>
      <a href="#" class="btn btn-primary w-100 mt-auto">Je postule</a>
    </div>

    <div class="col-md-9 border-start mt-3">
      <div class="card-body">

        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="fw-bold">{{ offre.titre }}</h5>
          <span class="fw-bold text-primary">Rémunération: {{ offre.remuneration }}</span>
        </div>

      <p class=" mb-4">Rejoignez une équipe spécialisée dans la cybersécurité et participez au développement d’outils logiciels destinés à renforcer la protection des systèmes informatiques. Vous interviendrez sur des projets concrets : conception de nouvelles fonctionnalités, automatisation de processus, amélioration de la performance et contribution à l’analyse des menaces. Un stage idéal pour monter en compétences dans un domaine technique et stratégique.</p>

      <h5 class="mb-3">{{ offre.entreprise.nom }}</h5>
      <p class="mb-4">Ocean CyberSecurity est une entreprise dédiée à la protection des infrastructures numériques. Elle conçoit des solutions avancées de cybersécurité, analyse les menaces émergentes et accompagne les organisations dans la sécurisation de leurs données. Grâce à une équipe d’experts passionnés, l’entreprise combine innovation, rigueur et technologie pour offrir un haut niveau de protection à ses clients.</p>
      </div>
    </div>
    

  </div>
</div>

{% endblock %}